
<header class="header">
  <div class="conteiner">
    <div class="header--logo logo">
      <img class="logo--img" src="assets/images/logo.png" alt="logo"/>
    </div>
    <nav class="menu">
      <ul class="menu--list">
        <li class="menu--item">
          <a href="#" class="menu--link">
            Главная
          </a>
        </li>
        <li class="menu--item">
          <a href="#cars" class="menu--link">
            Автомобили
          </a>
        </li>
        <li class="menu--item">
          <a href="#price" class="menu--link">
            Бронирование авто
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<main>
  <section class="section hero" [ngStyle]="bgPos">
    <div class="conteiner">
      <div class="hero--info">
        <h1 class="hero--title">
          Аренда премиальных автомобилей
        </h1>
        <p class="hero--text">
          В нашем клубе имеется солидная коллекция спортивных автомобилей — от достаточно
          распространенных серийных машин до настоящего гоночного эксклюзива. Воспользуйтесь уникальной
          возможностью побывать за рулем настоящей легенды и узнать, на что она способна за пределами гоночной
          трассы!
        </p>
      </div>
      <button class="button hero--button" id="main-action" (click)="goScroll(cars)">
        Посмотреть автомобили
      </button>
    </div>
  </section>
  <section class="car" id="cars" #cars>
    <div class="conteiner">
      <h2 class="sub-title">
        Наш автопарк
      </h2>
      <div class="car-toggle">
        <div [ngClass]="{active: category === 'sport'}" (click)="toggleCategory('sport')">Sport</div>
        <div [ngClass]="{active: category === 'luxury'}" (click)="toggleCategory('luxury')">Luxury</div>
      </div>
      <ul class="car--list">
        <li class="car--item" *ngFor="let car of carsData">
          <div class="car--box-img">
            <img src="{{car.image}}" alt="img ">
          </div>
          <div class="car--item-box">
            <h3 class="car--item-title">
              {{car.name}}
            </h3>
            <ul class="car--item-info">
              <li class="car--item-point">
                <img src="assets/images/transmission.png" alt="transmission">
                <p>Привод</p>
                <p>{{car.gear}}</p>
              </li>
              <li class="car--item-point">
                <img src="assets/images/Group.png" alt="wheel">
                <p>Двигатель</p>
                <p>{{car.engine}} л.с</p>
              </li>
              <li class="car--item-point">
                <img src="assets/images/year.png" alt="">
                <p>Кол-во мест</p>
                <p>{{car.places}}</p>
              </li>
            </ul>
          </div>
          <div class="car--item-action">
            <button class="button car-button" (click)="goScroll(price, car)">забронировать</button>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="price" id="price" #price>
    <div class="conteiner">
      <h2 class="sub-title">
        Узнать цену и забронировать
      </h2>
      <p class="price--text">
        Заполните данные, и мы перезвоним вам для уточнения всех деталей бронирования
      </p>
      <form action="" id="form" class="price-form" [formGroup]="priceForm" >
        <input type="text" class="price-input" id="name" placeholder="Ваше имя" formControlName="name">
        <input type="text" class="price-input" id="phone" placeholder="Ваше телефон" formControlName="phone">
        <input type="text" class="price-input" id="car" placeholder="Автомобиль, который вас интересует" formControlName="car">
        <button class="button"
                type="submit"
                id="price-action"
                (click)="onSubmit()"
                [disabled]="!priceForm.valid"
        >
          Узнать цену</button>
      </form>
      <img class="price--img" src="assets/images/rolls.png" alt="rolls" [ngStyle]="trans">
    </div>
  </section>
</main>
<footer class="footer">
  <div class="conteiner">
    <div class="footer--logo logo">
      <img class="logo--img" src="assets/images/logo.png" alt="logo"/>
    </div>
    <p class="rigths">
      Все права защищены
    </p>
  </div>
</footer>
